::selection {
  color: #444444;
  background-color: #f3f3f3;
}
body,
h1,
p,
span,
div,
button,
.ui.accordion .title:not(.ui) {
  font-family: "VT323", "Courier New", Courier, monospace;
  font-weight: 400;
}
body {
  background: #0a0a0a;
  color: #fff;
  background: url("../images/space_babez_background.png") repeat;
  background-attachment: fixed;
}
body.white {
  background: #efeff3;
}
p,
div {
  font-size: 20px;
}
p {
  text-align: center;
  line-height: 1;
}
.backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}
.fade-start {
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.6) 40%,
    rgba(10, 10, 10, 1) 100%
  );
}
.faded {
  width: 100%;
  background-color: rgb(10, 10, 10);
}
a {
  color: #9b6ede;
  font-weight: 600;
}
a:hover {
  color: #652bbc;
}
a.u {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
a.u:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: rgb(155 155 155);
}
.ui.selection.dropdown .menu > .item {
  font-size: 20px;
  border-color: #555555;
}
span.pink {
  color: #ff10f0;
  cursor: none;
  transition: font-weight 0.2s ease-in-out;
}
span.blue {
  color: #33f;
  cursor: none;
  transition: font-weight 0.2s ease-in-out;
}
span.pink:hover,
span.blue:hover {
  font-weight: bold;
}
.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  margin-top: 0;
}
.imgButton {
  margin: 20px 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent !important;
  border-radius: 10;
  text-align: center;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.imgButton:hover {
  background-color: #f1f1f5;
}
.imgButtonLabel {
  font-size: 28px;
  color: #f1f1f1;
  transition: letter-spacing 0.1s ease;
}
.imgButton:hover .imgButtonLabel {
  letter-spacing: 1px;
}
p.details {
  text-align: center;
  font-size: 26px;
  line-height: 1;
}
p.details.mb0 {
  margin-bottom: 0;
}
p.details.highlight {
  font-style: italic;
  background: #252525;
  color: #fefefe;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
  border-radius: 10px;
}
h1.section-header {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  transition: font-weight 0.2s ease;
}
.mb-2 {
  margin-bottom: 2rem;
}
h1.section-header:hover {
  font-weight: 400;
}

div.main-header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  width: 100%;
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.main-header h1 {
  margin: 15px 0;
  max-width: 500px;
  font-size: 32px;
  color: #fefefe;
  text-align: center;
  line-height: 1;
}
.header-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-middle span.label {
  color: #ff10f0;
  font-size: 32px;
  font-weight: 600;
}
.header-middle span.time {
  margin: 20px 0;
  font-size: 72px;
  font-weight: 600;
  color: #9b6ede;
  cursor: progress;
  transition: letter-spacing 0.1s ease;
}
.header-middle span.time:hover {
  letter-spacing: 2px;
}
div.main-header h1.prime {
  max-width: 98%;
  margin: 25px 1% 15;
  font-size: 42px;
}
div.main-header h1.slogan {
  font-size: 24px;
  margin-bottom: -30px;
}
.babez {
  max-height: 700px;
  max-width: 100%;
}
.babez {
  margin: 0 auto;
  cursor: pointer;
  animation: floating 2.5s alternate ease-in-out infinite;
  transition: filter 0.2s ease-in;
}

button.buyNow {
  margin-top: -20px;
  width: 304px;
  height: 79px;
  background: url("../images/space_babez_sold_out_big.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  justify-self: flex-end;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  margin-top: 20px;
}
.socials a {
  font-size: 32px;
  margin: 0 5px;
  transition: filter 0.3s ease;
}

p.results {
  margin-top: 30px;
  color: grey;
  text-align: center;
  font-size: 32px;
}

.m-header {
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;
  font-size: 32px;
}
.r-badge {
  margin-top: 15px;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  font-size: 28px;
  line-height: 1;
}
.r-badge.red {
  background-color: red;
}
.top-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.top-filter button.ui.button {
  margin: 2px 0;
  border-radius: 0;
}
.ui.button.activeBtn {
  background-color: #22ba1a;
  color: #ffffff;
}
.m-details {
  text-align: left;
  list-style: square;
  margin: 0 !important;
  padding: 10px 5px;
}
.m-details .column {
  font-size: 28px;
}
.price-table {
  width: 100%;
  max-width: 320px;
  border: 1px solid #888888;
  border-radius: 4px;
}
.price-table thead td.brdr {
  border-bottom: 1px solid #888888;
  margin-bottom: 2px;
}
.price-table td {
  font-size: 19px;
  background-color: 1px solid #ededed;
  text-align: center;
}
.price-table tr {
  cursor: pointer;
}
.price-table tr:hover > td {
  color: #ff10f0;
  font-weight: 600;
}
.price-table th {
  font-size: 22px;
  text-align: center;
}
td.buyMore {
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  color: #6164f7;
}
td.buyMore strong {
  color: #ff10f0;
}
.price-table tr:hover > td.buyMore:hover {
  font-weight: bold;
  color: #5456fc;
}
.spacebabez-container {
  position: relative;
  cursor: none;
}
.modal-img {
  width: 440px;
  height: 535px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.spacebabez {
  width: 400px;
  height: 486px;
  pointer-events: none;
  transition: transform 0.3s ease;
}
.spacebabez-wrapper {
  width: 400px;
  height: 486px;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.spacebabez-wrapper:hover img {
  transform: scale(1.05);
}
.spacebabez-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo:hover,
.babez:hover,
.socials i:hover {
  filter: invert();
}
.buyNow:hover {
  transform: scaleX(-1);
}
.hashtag {
  color: #143aff;
}
.hashtag:hover {
  cursor: none;
  font-weight: 600;
}
.ui.dropdown .menu > .item .text {
  color: #ffffff;
}
.ui.selection.dropdown {
  color: #ffffff;
}
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: #666666;
}
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:hover .menu {
  border-color: #777777;
}
.ui.dropdown .menu > .item {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #666666;
}
.ui.dropdown .menu > .item.d-h {
  margin: 0;
  padding: 1rem;
  border: none;
  background-color: #666666;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 3px;
}
.ui.dropdown .menu > .item.d-h:hover {
  background-color: #666666;
}
.accordion.ui.fluid.styled {
  background-color: #333333;
  border-radius: 15px;
}
.accordion.ui.fluid.styled .title {
  background-color: #333333;
  font-size: 24px;
  color: #ffffff;
  border-bottom: 2px solid #393939;
}
.ui.selection.dropdown,
.ui.dropdown .menu {
  background-color: #333333;
}
.accordion.ui.fluid.styled .title:last-child {
  border-bottom: none;
}
.accordion.ui.fluid.styled .title.active {
  border-bottom: none;
}
.accordion.ui.fluid.styled .content.active {
  background-color: #252525;
}
.ui.stackable.grid > .column:not(.row) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.modals.dimmer .ui.scrolling.modal.prevModal {
  margin: 0;
}
.ui.modal.prevModal {
  background-color: #252525;
  max-width: 800px;
  margin: 0 auto;
}
.ui.prevModal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252525;
}
@media screen and (max-width: 910px) {
  .header-middle {
    width: 100%;
  }
  .header-container {
    flex-direction: column;
  }
  button.buyNow {
    width: 304px;
    height: 79px;
  }
}

@media screen and (max-width: 720px) {
  div.main-header h1.prime {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  div.main-header h1 {
    margin: 10px;
  }
  .modal-img {
    width: 100%;
    height: 100%;
  }
  div.main-header h1.slogan {
    margin-bottom: -30px;
  }
  button.buyNow {
    margin-top: -15px;
  }
  button.buyNow {
    width: 270px;
    height: 71px;
  }
}
@media screen and (max-width: 480px) {
  div.main-header h1.prime {
    font-size: 24px;
  }
  .m-details {
    max-width: 100%;
  }
  .m-details .column {
    font-size: 24px;
  }
}
@media screen and (max-width: 549px) {
  .imgButton {
    width: 100%;
    margin: 15px 0;
    padding: 0;
  }
  .spacebabez-wrapper {
    width: 100%;
    height: auto;
  }
  .spacebabez {
    width: 100%;
    height: 100%;
  }
}

@keyframes floating {
  0% {
    transform: translate(2px, -10px);
  }
  100% {
    transform: translate(-2px, 15px);
  }
}

.ui.selection.dropdown .menu {
  min-height: 200px;
}
.ch-main {
  display: flex;
  flex-direction: row;
  place-content: stretch center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.ch-col {
  display: flex;
  flex-direction: column;
  place-content: stretch flex-start;
  flex: 1 1 0%;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heart-img {
  padding: 20px;
  margin-top: 30px;
  font-size: 36px;
  background: transparent;
  font-family: "VT323", "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
.ui.table.chart {
  margin: 5px 0;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 3px #555;
  min-width: 300px;
  height: fit-content;
  border: 2px solid #555;
}
.ui.table.chart:first-child {
  margin-top: 10px;
}

.ui.table.chart th {
  padding: 0.5em 0.75em !important;
}
.ui.table.chart th.main-th {
  font-size: 32px;
  padding: 20px 10px;
  background-color: #ffffff;
  color: #000;
  border-bottom: 0;
  border-radius: 10px;
}
.ui.table.chart th.cat-th {
  font-weight: normal;
  text-align: center;
  color: #000;
  background-color: #efefef;
  border-top: 5px solid #efeff3 !important;
}

.ui.table.chart th.cat-th .segment {
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  .chart.ui.table:not(.unstackable) tr > th.main-th {
    padding: 20px 10px !important;
  }
  .chart.ui.table:not(.unstackable) tr > td {
    padding: 15px 10px !important;
  }
  .chart.ui.table:not(.unstackable) thead {
    display: table-header-group;
  }
  .chart.ui.table:not(.unstackable) tr {
    display: table-row !important;
  }
  .chart.ui.table:not(.unstackable) tbody {
    display: table-row-group !important;
  }
  .chart.ui.table:not(.unstackable) tr > td {
    display: table-cell !important;
  }
  .chart.ui.table:not(.unstackable) tr > th {
    display: table-cell !important;
  }
}
.roadmap-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 715px;
  position: relative;
  margin: 0 auto 70px;
  height: 600px;
}
.text-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: scroll;
}
.splide {
  overflow: hidden;
}
.splide__slide.is-active {
  opacity: 1;
  border-bottom: dashed 5px yellow;
  border-top: dashed 5px yellow;
  background-color: #121212;
}
.splide__slide {
  padding: 15px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.3;
  background-color: #11111155;
  transition: all 0.2s ease;
}
.splide__slide div {
  font-size: 22px;
  margin-bottom: 12px;
  text-align: justify;
}
.splide__slide.is-active div {
  cursor: pointer;
}
.splide__slide.is-active div:hover span {
  color: #ff10f0;
  font-style: italic;
  font-weight: 600;
}
.thermometer {
  height: 600px;
  width: 99.2px;
}
.thermometer-container {
  position: relative;
  margin: 0 5px;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 600px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  z-index: 1000;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 600px;
  height: 99.2px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  height: 99.2px;
  width: 5px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-track {
  width: 600px;
  height: 99.2px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: red;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 5px;
  background: white;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 600px;
  height: 99.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 5px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: red;
}
input[type="range"]::-ms-fill-upper {
  background: red;
}
input[type="range"]::-ms-thumb {
  height: 99.2px;
  width: 5px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: red;
}
input[type="range"]:focus::-ms-fill-upper {
  background: red;
}

@media screen and (max-width: 500px) {
  .roadmap-container {
    margin-bottom: 0;
    align-items: center;
  }
  .splide__slide div {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  input[type="range"] {
    bottom: 0;
  }
}
.ui.basic.button.faq-button {
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding: 15px 20px;
  background-color: #444444 !important;
  border: 4px solid #333333;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.ui.basic.button.opened {
  box-shadow: none;
  border: 1px solid #d6d6d6;
  background-color: #ececec !important;
}
.ui.basic.button:hover {
  box-shadow: 2px 2px 5px #555555;
}
.faq-button.opened span {
  color: #8e4df0;
}
.faq-button span {
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
}
.faq-button div.trw {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  top: -4px;
  height: 60px;
  color: #ffffff;
}
a.policy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  font-family: "VT323", "Courier New", Courier, monospace;
  text-decoration: none;
  background-color: #dec7fdf3;
  outline: 4px solid #5b1abb;
  box-shadow: -1px 1px 4px #cccccc inset;
  overflow: hidden;
  transition: all 0.4s ease;
}
a.policy:hover {
  outline-color: #b37dff;
  background-color: #dec7fd;
}
a.policy strong {
  font-size: 26px;
  text-align: center;
  line-height: 1;
  color: #363636;
  padding-bottom: 2px;
  margin-bottom: 8px;
  max-width: 300px;
}

a.policy p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  word-break: break-all;
  word-wrap: break-word;
  color: #5b1abb;
}

a#wd:hover {
  cursor: url("../images/wapp.png"), auto;
}
a#oz:hover {
  cursor: url("../images/o.png"), auto;
}
.ext-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ffffff;
  border: 4px solid #aaaaaa;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 8px #999999 inset;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
}
.ext-links:hover {
  outline-color: #999999;
}
.ext-links button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ext-links h1.section-header {
  color: #444444;
  margin: 0;
  font-size: 38px;
  animation: flash 1s ease-in-out infinite alternate;
}
@keyframes flash {
  0%,
  50% {
    color: #353535;
  }
  20% {
    color: #777777;
  }
}
.ext-links > ul {
  list-style: square;
  padding-bottom: 20px;
  margin: 10px;
  color: #353535;
  font-weight: 600;
}
.ext-links ul ul {
  list-style: none;
}
.ext-links li {
  word-break: break-all;
  word-wrap: break-word;
}
.ext-links ul ul li::before {
  content: "⇨";
  margin-right: 16px;
  font-size: smaller;
}
.ext-links a::after {
  content: "◳";
  margin-left: 8px;
  font-size: smaller;
}
.ext-links button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ext-links button i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #444444;
  margin-left: 10px;
  animation: flash 1s ease-in-out infinite alternate;
}
.ext-links.opened h1.section-header,
.ext-links.opened i {
  color: #5b1abb;
  animation: none;
}
.ext-links.opened {
  border-color: #5b1abb;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.paper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
  padding: 15px;
  margin: 20px 5px;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .ui.container.paper {
    width: auto !important;
    border-radius: 0;
    margin-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.paper h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: "Noto Serif", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  margin-bottom: 10px;
  text-align: center;
}

.paper p,
.paper ul li,
.paper ol li {
  color: #222222;
  margin-bottom: 12px;
}
.paper ul {
  list-style: circle;
}
.paper ul,
.paper ol {
  margin-top: 0;
}
.paper ol li {
  padding-left: 10px;
}
.paper-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paper-content li,
.paper-content p,
.paper-content span {
  font-family: "Noto Serif", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  line-height: 1.4;
  font-size: 16px;
  text-align: left;
}
.paper-content p {
  text-align: justify;
}
.paper-content p span.tab {
  display: inline-block;
  width: 30px;
}
.paper p {
  font-size: 16px;
  font-family: "Noto Serif", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  margin-bottom: 20px;
  line-height: 1.2;
}
.paper .paper-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.paper-title span {
  color: #0011ff;
  font-weight: bold;
  font-size: 20px;
}
.shopImage .gatsby-image-wrapper {
  transition: all 0.4s ease;
}
.shopImage:hover .gatsby-image-wrapper {
  transform: rotate(-9deg);
}
.paper-content .gatsby-image-wrapper {
  margin-bottom: 15px;
}
.paper-content pre {
  width: 100%;
  border-radius: 10px;
  margin-top: 0;
}
a.downloader {
  color: #a333c8 !important;
  display: flex;
  align-items: center;
  border: 2px solid #a333c8;
  padding: 6px 10px;
  border-radius: 8px;
}
a.downloader.green {
  color: #21ba45 !important;
  border-color: #21ba45;
}
a.downloader:hover {
  background-color: rgba(162, 51, 199, 0.1);
}
a.downloader.green:hover {
  background-color: rgba(33, 186, 69, 0.1);
}
.paper-link {
  margin-bottom: 20px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #a333c8 inset;
  background-color: rgba(163, 51, 200, 0.05);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  transition: all 0.2s ease-in-out;
}
.paper-link h1 {
  margin: 0;
  margin-left: 20px;
  color: white;
  font-size: 36px;
}
.paper-link:hover {
  background-color: rgba(163, 51, 200, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
#con-canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10000;
}
.banner {
  position: relative;
  background-color: #353535;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
.banner p {
  margin: 0;
  font-size: 26px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #e6e6e6;
}
.banner a {
  text-transform: none;
  color: #ff5d5d;
  text-decoration: none;
}
.banner button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: none;
  background-color: #888888;
  border-radius: 0;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .banner p {
    font-size: 20px;
    margin-right: 50px;
  }
}
model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5),
    0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

button.rb {
  margin: 8px auto;
  position: relative;
  background-color: #fff;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
button.rb:hover {
  background-color: #050505;
}
button.rb:active {
  background-color: #151515;
}
button.rb p {
  margin: 1px;
  border-radius: 5px;
  padding: 15px;
  background-color: #000;
  word-break: break-all;
  word-wrap: break-word;
  z-index: 1;
}
button.rb .aft {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom right,
    #ff10f0 0%,
    #5b1abb 20%,
    #21ba45 40%,
    #ff10f0 60%,
    #5b1abb 80%,
    #21ba45 100%
  );
  background-size: 400% 400%;
  border-radius: 0.28571429rem;
  animation: grad 2s ease infinite;
}
@keyframes grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
